			p{
				color: black;
				text-align: left;
				padding-left:10px;
				padding-right:10px;
			}
			ul{
				color: black;
				text-align: left;
				padding-left:20px;
				padding-right:10px;
				list-style-type: circle;
			}
			h1{
				
				text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
			}
			 td {
				width:200px
			}
			#intro p{
				text-align: center;
				}
				
			body{
				font-family:arial, helvetica, serif;
			}	
			
			.topo{
				position:absolute;
				left:0px;
				height:150px;
				width:1280px;
				border-width:5px;
				border-color:green;
				border-style: solid;
				border-left-style:none;
				border-right-style:none;
			}
			
			a:link {
					background-color:green;
					border-style:none;
					display:block;
					color:white;
														
				}	
			div a:hover {
						color:#fff;
						background-color: #32CD32;
						border-color:#32CD32;
						
			}
			
					
			
			#menu{
				font-weight: bold;
				position:absolute;
				left:0px;
				top:200px;
				text-align:center;
				height:20px;
				width:200px;
				-moz-border-radius: 5px; /* Para Firefox */
				-webkit-border-radius: 5px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
								
			}
			
			#aba1{
				font-weight: bold;
				background-color:none;
				position:absolute;
				left:800px;
				top:220px;
				color:white;
				text-align:center;
				height:300px;
				width:300px;
				border-width:5px;
				border-color:green;
				border-style: solid;
				
							
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
						
			#fundo{
				font-weight: bold;
				background-color:#BCEE68;
				position:absolute;
				top:210px;
				color:white;
				text-align:center;
				height:auto;
				width:1265px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#rodape{
				font-weight: bold;
				position:absolute;
				left:5px;
				top:85%;
				color:green;
				text-align:center;
				height:50px;
				width:1280px;
				border-top-style:solid;
				border-color:green;
			}
			
			a{
				color:white;
				border-width:5px;
				border-color:green;
				border-style: solid;
				background-color:green;
			}
			
			a:link {
				display:block;
				text-decoration: none;
				color:white;
				border-width:5px;
				border-color:green;
				border-style: solid;
				background-color:green;
				-moz-border-radius: 5px; /* Para Firefox */
				-webkit-border-radius: 5px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			div a:hover {
				color:#fff;
				background-color: #32CD32;
				border-color:#32CD32;
				
			}
			
			#menu1{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:40px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				-moz-border-radius: 5px; /* Para Firefox */
				-webkit-border-radius: 5px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
								
			}
			
			#menu2{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:250px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180;
							
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#menu3{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:460px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#menu4{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:670px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#menu5{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:880px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#menu6{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:1090px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
			
			#menu7{
				font-weight: bold;
				background-color:green;
				position:absolute;
				left:1310px;
				top:170px;
				color:white;
				text-align:center;
				height:20px;
				width:180px;
				
				-moz-border-radius: 10px; /* Para Firefox */
				-webkit-border-radius: 10px; /*Para Safari e Chrome */
				border-radius: 10px; /* Para Opera 10.5+*/
			}
		